@media screen and ((max-width: 900px)){
    main{
        /* background-color: darkcyan; */
        flex-direction: column;
        justify-content: center;
        padding: 1rem ;
    }

    .box-img, .box-form {
        width: 70%;
        height: 30vh;
    }

    .box-img {
        width: 60%;
        height: 20vh;
    }

    .img-img {
        width: 70%;
        min-width: 10rem;
    }

    form {
        height: 46vh;
    }

    

    .logo-header {
        width: 4rem;
        min-width: 30%;
        max-width: 30%;
    }
}